@import url("https://smc.org.in/fonts/manjari.css");


.loginContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* Login Box */

.loginBox{
    box-shadow: 0 0 2px rgba(117, 113, 113, 0.539);
    width: 40rem;
    /* height: 22rem; */
    border-radius: 10px;
    background: #2b3d4e34;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Login Title */

.loginTitle{
    margin-top: 1rem;
    font-weight: 100;
}

.loginTitle h2{
    font-weight: 500;
    font-family: "Manjari", sans-serif;
    font-size: 20.6px;
}


/* Login Notice */

.loginNotice{
    width: 70%;
    font-family: "Manjari", sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: rgba(255, 0, 0, 0.45);
}

/* Login Form */

.loginForm{
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}


.loginFormGroup{
    width: 70%;
    height: 4.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.loginFormGroup input{
    width: 100%;
    height: 2.6rem;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Manjari", sans-serif;
    font-weight: 500;
    padding-left: 6px;
    border-radius: 4px;
    background: white;
}

.loginFormGroup select{
    width: 100%;
    height: 2.6rem;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Manjari", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    background: white;
}


/* Login Button */

.loginSubmitBtn{
    width: 70%;
    padding-bottom: 0.6rem;
}

.loginSubmitBtn button{
    width: 100%;
    height: 2.6rem;
    border: none;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.73);
    color: white;
}

.loginSubmitBtn button:hover{
    background: black;
}

/* Login Register New */

.loginRegisterNew{
    width: 70%;
    padding-bottom: 0.8rem;
    text-align: center;
}

.loginRegisterNew a{
    text-decoration: none;
}


/* Responsive Design */

@media (max-width: 680px) {
    .loginBox {
      width: 95%;
    }
    .loginNotice{
        width: 90%;
    }
    .loginFormGroup{
        width: 90%;
        height: 4.3rem;
    }
    .loginSubmitBtn{
        width: 90%;
    }
  } 